

 
<div class="container py-5">
  <div class="row text-center text-white mb-5">
      <div class="col-lg-7 mx-auto">
          <h1 class="display-4">Product List</h1>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-8 mx-auto ">
          
          <ul class="list-group">
              
              <tbody *ngFor="let item of articles">
              <li class="list-group-item shadow my-3">
                  <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                      <div class="media-body order-2 order-lg-1">
                          <h5 class="mt-0 font-weight-bold mb-2">{{item.name}}</h5>
                          <p class="font-italic text-muted mb-0 small">{{item.descriptif}}</p>
                          <div class="d-flex align-items-center justify-content-between mt-1">
                              <h6 class="font-weight-bold my-2">{{item.prix}}</h6>
                              <td><button *ngIf="!item.isOnPanier" (click)="AjouterAuPanier(item.id)" class="btn btn-primary">Ajouter au panier</button></td>
                              <td><button *ngIf="item.isOnPanier" (click)="RetirerDuPanier(item.id)" class="btn btn-danger">retier du panier</button></td>
                              <ul class="list-inline small">
                                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                              </ul>
                          </div>
                      </div><img src="../../assets/images/{{item.image}}" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                  </div> 

              
              </li> 
            </tbody>
          </ul> 
      </div>
    
  </div>

</div> 