<div class="container my-4">
    <div class="container-fluid text-center">
        <div class=" my-lg-0 my-1 text-center">
            <div id="main-content" class="bg-white border">
                <div class="d-flex my-4 flex-wrap">
                    <div class="box me-4 my-1 bg-light">
                        <img src="https://www.freepnglogos.com/uploads/box-png/cardboard-box-brown-vector-graphic-pixabay-2.png"
                            alt="">
                        <div class="d-flex align-items-center mt-2">
                            <div class="tag">Catégories</div>
                            <div class="ms-auto number">{{this.Categories}}</div>
                        </div>
                    </div>
                    <div class="box me-4 my-1 bg-light">
                        <img src="https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-campus-recreation-university-nebraska-lincoln-30.png"
                            alt="">
                        <div class="d-flex align-items-center mt-2">
                            <div class="tag">Articles</div>
                            <div class="ms-auto number">{{this.Articles}}</div>
                        </div>
                    </div>
                    <div class="box me-4 my-1 bg-light">
                        <img src="https://www.freepnglogos.com/uploads/love-png/love-png-heart-symbol-wikipedia-11.png"
                            alt="">
                        <div class="d-flex align-items-center mt-2">
                            <div class="tag">Users</div>
                            <div class="ms-auto number">{{this.Users}}</div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-3">
                        <button class="btn btn-primary" routerLink="">
                            Article  
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-primary" routerLink="/GestCatg">
                            Categories
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-primary" routerLink="">
                            Users
                        </button>
                    </div>

                </div>
        </div>
    </div>
    
</div>

